<div class="container">
  <div class="row m-4 d-flex justify-content-center align-items-center">
    <div class="col-12 shadow-lg p-3 mb-5 bg-white rounded border">
      <!-- Una calculadora -->
      <h1 class="text-center">Calculadora</h1>
      <p id="info">Calculadora que suma dos números</p>
      <form class="" [formGroup]="form" (ngSubmit)="sumar()">
        <div class="row text-center">
          <div class="col-6">
            <label for="num1">Número 1</label>
            <input type="text" class="form-control" placeholder="Ingrese un número" name="num1" formControlName="num1">
          </div>
          <div class="col-6">
            <label for="num2">Número 2</label>
            <input type="text" class="form-control" placeholder="Ingrese un número" name="num2" formControlName="num2">
          </div>
        </div>
        <div class="row text-center my-4">
          <div class="col-12">
            <button type="button" class="btn btn-success m-auto w-100" (click)="sumar()" [disabled]="form.invalid">
              Sumar</button>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <!-- <h3>Resultado: {{resultado}}</h3> -->
            <h2>Resultado: {{5}}</h2>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-6">
            <button type="button" class="btn btn-success" (click)="multiplicar()">Multiplicar</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-success" (click)="dividir()">Dividir</button>
          </div>
        </div> -->
      </form>
  </div>
</div>
